version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend:/var/www
    depends_on:
      - backend
      - frontend

  backend:
    build:
      context: ./backend
      args:
        APP_ENV: local
    container_name: laravel
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
      - ./backend/docker/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      args:
        NODE_ENV: development
    container_name: nuxt
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules # Prevents host node_modules from overwriting container's
    environment:
      - HOST=0.0.0.0
      - CHOKID_USEPOLLING=true # Helps with Hot Module Replacement in some Docker setups
    ports:
      - "3000:3000"